body {
  background-color: goldenrod;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;

  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: auto;
  top: 25%;
  border-radius: 8px;
  box-shadow: 3px 4px 8px 5px #bd9103;

  text-align: center;

  background-color: white;
}

.container {
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.ctm-btn {
  padding-top: 1%;
  padding-bottom: 2%;

  border-radius: 3px;

  font-weight: bold;
  width: 100%;
}

.person-img {
  width: 20%;
  border-radius: 100%;
}

.hr-half {
  width: 50%;
  border: lightgrey 1px solid;
}
